.wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.text{
    justify-content: center;
    display: flex;
}
.fields{
    padding-top: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.selects{
    display: flex;
    gap: 10px;
}
.button{
    padding: 20px 0 0px 0;
    display: flex;
    justify-content: center;
}